footer {
  .social_links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20vh;

    .social_logo {
      padding: 1rem;
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 2rem;
        transition: height 0.5s;
        //   transition: margin 0.5s;
      }
      span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        z-index: 1;

        /* fixes overlap error in IE7/8, 
        make sure you have an empty gif */
        background-image: url("empty.gif");
      }
      &:hover {
        img {
          height: 2.3rem;
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

    p {
      font-family: "Quicksand", sans-serif;
      font-size: 1.5rem;
      //   margin: 0 5vw;
    }
  }
}
