#prototypes_desc {
  width: 100vw;
  height: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0 10vw;

  p {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    // text-align: center;
    margin: 0 5vw;
  }
}

@media screen and (max-width: 768px) {
  #prototypes_desc {
    padding: 0;
    p {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 420px) {
  #prototypes_desc {
    p {
      font-size: 1.4rem;
    }
  }
}
