#container {
  hr {
    width: 60vw;
    margin: 5vh 0 5vh 20vw;
    height: 1px;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
    width: 60vw;
    // align-items: center;
    // justify-content: center;
    p {
      width: 60%;
      line-height: 1.5;
    }
    ul {
      width: 60%;
      margin-left: 1.5rem;

      li {
        padding: 0.2rem 0;
        ol,
        ul {
          margin-left: 1.5rem;
        }
      }
    }
    p,
    h2,
    h3 {
      padding: 0 0 2rem 0;
    }
    h4 {
      padding: 0 0 1rem 0;
    }

    video {
      width: 60%;
      margin-bottom: 2rem;
    }

    #email {
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 80%;
      padding: 1rem;

      span {
        line-height: 1.5;
        display: block;
      }
    }
  }

  .splide {
    width: 48vw;
  }

  .image {
    // display: flex;
    img {
      width: 80%;
    }
    .splide__slide {
      width: 80%;
      img {
        width: 100%;
      }
    }
  }

  #big_picture {
    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  #title {
    h1 {
      font-size: 2.5rem;
    }
  }

  #overview {
    display: grid;
    //   margin: 0 10vw;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));

    p {
      width: 100%;
    }

    #right {
      a {
        color: #195add;
        font-weight: bold;
      }
    }
  }

  #choose_project {
    display: flex;
    flex-direction: row;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: 5vh;
    // margin-bottom: 10vh;
    // padding: 0 10vw;

    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: #000000;
      padding: 1rem 2rem;
      transition: 0.5s;
    }
    a {
      font-size: 1.2rem;
      font-weight: 600;
      color: #6a6a6a;
      padding: 1rem 2rem;
      transition: 0.5s;

      &:hover {
        color: #195add;
      }
    }
  }

  .side_to_side_photo {
    display: grid;
    //   margin: 0 10vw;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .mapeco_prototype {
    width: 80%;
  }

  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #container {
    section {
      margin: 5vh 5vw;
      width: 90vw;

      p,
      ul,
      video,
      #email {
        width: 100%;
      }
      .image {
        // display: flex;
        img {
          width: 100%;
        }
      }

      .splide {
        width: 90vw;
      }
    }

    #overview {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      #left {
        order: 2;
      }
      #right {
        order: 1;
      }
    }

    .side_to_side_photo {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #container {
    section {
      p,
      ul,
      video {
        width: 80%;
      }
    }
  }
}
